@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&display=swap');

body {
    background-color: #EEEEEE;
}

/* Banner and title */

.title {
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 5px;

}

h1 {
    font-family: 'Press Start 2P', cursive, sans-serif;
}

#banner {
    position: relative;
    height: 150px;
    background-color: #d3d9c9;
}


#right {
    position: absolute;
    right: 2rem;
    bottom: 20px;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Inconsolata', monospace;
}

#center {
    float: left;
    display: flex;
    left: 40%;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 20px;
    width: 20%;
    font-size: 15px;
}

/* Hide rule image shown after hover on rules text*/

#imgrules {
    display: none;
    margin: 0 auto;
    height: 300px;
    width: 300px;
}

/* Scoreboard */

#scoreboard {
    position: relative;
    display: flex;
    justify-content: center;
    border: 3px solid black;
    height: 70px;
    width: 10%;
    margin: 20px auto;
    border-radius: 20px;

}

#label-left {
    position: absolute;
    left: -95px;
    bottom: -10px;
    border: 2px solid green;
    padding: 15px;
    border-radius: 10px;
}

.label-right {
    position: absolute;
    right: -90px;
    bottom: -10px;
    border: 2px solid red;
    padding: 15px;
    border-radius: 10px;
}

#u-score {
    position: absolute;
    font-size: 2rem;
    top: 10px;
    left: 30%;
    color: green;

}

#c-score {
    position: absolute;
    font-size: 2rem;
    top: 10px;
    right: 30%;
    color: red;
}

/* Result text */

.result {
    padding: 30px;
}

p.result {
    text-align: center;
    font-size: 2rem;
    color: gray;
    text-shadow: 2px 2px black;
    font-family: 'Inconsolata', monospace;
}

/* Timer */

.timer {
    text-align: center;
    font-size: 2rem;
    color: gray;
    text-shadow: 2px 2px black;
    font-family: 'Inconsolata', monospace;
}

/* Choices */

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.choice {
    border: 2px solid black;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background: no-repeat center center;
}

.choice:hover {
    box-shadow: 10px 5px black;
    transform: translateY(-0.5rem);
}

/* Hide boixes where are displayed image of choices */

#label {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#show {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

#showu {
    height: 200px;
    width: 45%;
    margin: 10px auto;


}

#showc {
    height: 200px;
    width: 45%;
    margin: 10px auto;

}

/* Form pregame */

#form {
    text-align: center;
    border: 2px solid green;
    width: 50%;
    margin: 50px auto;
    padding: 40px;
    font-family: 'Inconsolata', monospace;


}

.input {
    display: block;
    margin: 15px auto;

}

label {
    font-size: 1.5rem;
}

/* Gameover interface */

#gameover {

    border: 2px solid black;
    padding: 100px;
    width: 50%;
    margin: 30px auto;
    display: none;
}

#finish {
    font-size: 30px;
    width: 100%;
    text-align: center;
}

#btn {
    display: flex;
    font-size: 30px;
    margin: 0 auto;
}

/* Media queries */

@media screen and (max-width : 1350px) {
    #banner {
        height: 200px;
    }
}

@media screen and (max-width : 1024px) {
    #scoreboard {
        width: 20%;
    }

    #center {
        margin-top: 30px;
    }
}

@media screen and (max-width : 890px) {
    .title {
        font-size: 1.5rem;
        padding: 15px;
    }
}

@media screen and (max-width : 492px) {
    .title {
        font-size: 1.25rem;
        padding: 15px;
    }

    #scoreboard {
        width: 30%;
    }

    #gameover {
        padding: 70px;
    }
}

@media screen and (max-width : 386px) {
    #banner {
        height: 250px;
    }

    #center {
        left: 35%;
        padding: 25px;
    }


}